<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>24HR JUL 2014</title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
 
    <style>
        #svg-tree{
            width: 100%;
            min-width: 100%;
        }
    </style>
</head>
<body>

    <button data-button-add>ADD</button>
    <div id="tree">
        {{=this.image('./public/assets/svg/gran.svg')}}
    </div>


    <script data-main="/scripts/bootstrap-main" src="/scripts/lib/require.js"></script>    
</body>
</html>
