<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>24HR JUL 2014</title>
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#1B1E22" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Playfair+Display:700' rel='stylesheet' type='text/css'>
</head>
<body>

    <div id="block-header-mobile">
            <h1>God Jul &amp;<br/>Gott Nytt År!</h1>
            <p class="intro">Önskar vännerna på <em>24HR i Malmö</em></p>
        </div>
    <div class="box">

        <div id="treeWrapper">
            <div class="tree-center">
                <div id="tree">
                    <img class="christmas-tree" src="/assets/images/julgran.png" alt="julgran" />
                </div>
            </div>
        </div>

        <div class="instructions">
            <div id="block-header">
                <h1>God Jul &amp;<br/> Gott Nytt År!</h1>
                <p class="intro">Önskar vännerna på <em>24HR i Malmö</em></p>
            </div>

            <div class="pyntagranen">
                <h3>Hjälp oss att klä granen!</h3>
                <p>Så här enkelt är det. Välj det julpynt du vill ha i granen och SMS’a det till: <a href="sms:+46766861487" class="sms-number no-wrap">076-686 14 87</a></p>

                <div class="julpynt clearfix">
                    <a class="julgran-pynt-kula-1" href="sms:+46766861487?body=foo">Kula1 =</a>
                    <a class="julgran-pynt-ljus" href="sms:+46766861487?body=bar">Ljus =</a>
                    <a class="julgran-pynt-kula-2" href="sms:+46766861487?body=baq">Kula2 =</a>
                    <a class="julgran-pynt-polka" href="sms:+46766861487?message=baz">Polka =</a>
                </div>

                <p class="show-desktop">Håll sedan ögonen på granen så ser du när det ditt pynt poppar upp. Ditt namn hämtar vi automatiskt (om du inte har anonymt nummer) och det visas när du håller pekaren över ditt julpynt. Magi :-)</p>
                <p class="show-mobile">Håll sedan ögonen på granen så ser du när det ditt pynt poppar upp.</p>
            </div>

            <div id="tack-till" class="flex-center">
                <h3>Tack alla julgranspyntare:</h3>
                <ul data-thank-you-list> </ul>
                <p>Namnen hämtas automatiskt (om du inte har anonymt nummer)</p>
            </div>

            <div class="julklappen show-desktop">
                <img src="/assets/images/barncancerfonden-jul-2014.jpg"/>
                <p>Det här året har vi valt att stödja Barncancerfonden med en slant.</p>
            </div>

            <div id="juldeko-1"></div>




        </div>






    </div>

    <div class="bubble" data-bubble>
        <div class="name" data-name>Lorem</div>
    </div>

    <div id="ornament-templates">
        <div data-ornament-type="kula1"><img src="/assets/images/pynt-list-kula-1@2x.png" alt="ornament 1" /></div,>
        <div data-ornament-type="ljus"><img src="/assets/images/ljusanim.png" alt="ornament 1" /></div,>
        <div data-ornament-type="kula2"><img src="/assets/images/pynt-list-kula-2@2x.png" alt="ornament 1" /></div,>
        <div data-ornament-type="polka"><img src="/assets/images/pynt-list-polka@2x.png" alt="ornament 1" /></div,>
    </div>

    <script data-main="/scripts/bootstrap-main" src="/scripts/lib/require.js"></script>

</body>
</html>
