html {
  font-size: 100%;
  height: 100%;
}
body {
  line-height: 1.5rem;
  font-smoothing: antialiased;
  min-height: 100%;
  background-color: #1b1e22;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.063rem;
  font-weight: 400;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
a {
  color: rgba(255,255,255,0.6);
  text-decoration: none;
  white-space: nowrap;
}
h1 {
  font-size: 3rem;
  line-height: 1.2em;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Playfair Display', serif;
}
h3 {
  font-weight: 700;
  margin: 0.5em 0;
  line-height: 1.2em;
  font-size: 1.3rem;
}
p {
  margin: 0.3em 0;
  color: #a0a0a0;
  line-height: 1.3em;
}
p.intro {
  padding-top: 0.5rem;
  font-size: 1.3rem;
  color: #fff;
}
a {
  color: #fff;
}
.sms-number {
  font-size: 1.3rem;
}
.name {
  font-size: 1rem;
}
.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.no-wrap {
  white-space: nowrap;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
.show-mobile {
  display: none;
}
.show-desktop {
  display: initial;
}
.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#treeWrapper {
  padding: 30px 30px 0 30px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../images/bg3.png");
}
.tree-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#tree {
  position: relative;
  max-width: 700px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.christmas-tree {
  width: 100%;
}
#ornament-templates {
  display: none;
}
.ornament {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
          transition: opacity 0.5s ease-out;
  position: absolute;
  width: 8%;
  margin-left: -4%;
  margin-top: -4%;
}
.ornament-active {
  opacity: 1;
}
.bubble {
  -webkit-transition: opacity 0.2s ease-out;
          transition: opacity 0.2s ease-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 0.8rem;
  background-color: #fff;
  line-height: 1rem;
  padding: 1em 1em;
  border-radius: 3px;
  border-top-left-radius: 0;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.bubble.modifier-active {
  opacity: 1;
}
.instructions {
  min-width: 400px;
  max-width: 600px;
  padding: 80px;
  box-sizing: border-box;
  color: #fff;
  line-height: 1.6rem;
  -webkit-box-flex: 0.5;
  -webkit-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
#block-header {
  display: block;
}
#block-header-mobile {
  display: none;
}
.pyntagranen {
  margin-top: 40px;
}
.julpynt {
  margin: 25px 0 15px 0;
}
.julpynt a {
  font-weight: 700;
  padding-right: 28px;
  margin-right: 15px;
  color: #fff;
  float: left;
  margin-bottom: 0.5em;
  text-align: left;
}
.julpynt a.julgran-pynt-kula-1 {
  background: url("../images/pynt-list-kula-1.png") no-repeat right;
}
.julpynt a.julgran-pynt-kula-2 {
  background: url("../images/pynt-list-kula-2.png") no-repeat right;
}
.julpynt a.julgran-pynt-ljus {
  background: url("../images/pynt-list-ljus.png") no-repeat right;
  padding-right: 17px;
}
.julpynt a.julgran-pynt-polka {
  background: url("../images/pynt-list-polka.png") no-repeat right;
  padding-right: 17px;
}
.julklappen img {
  width: 100%;
  max-width: 300px;
  margin-top: 50px;
}
#juldeko-1 {
  background: url("../images/deco-1.png") no-repeat 0;
  background-size: 160px 250px;
  position: absolute;
  top: 0;
  right: 20px;
  width: 160px;
  height: 250px;
}
#tack-till {
  display: none;
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 700px) {
  body {
    display: Block;
    text-align: center;
  }
  .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  h1,
  .intro {
    text-align: center;
  }
  h1 {
    font-size: 2.6rem;
  }
  p.intro {
    font-size: 1.2rem;
  }
  .show-mobile {
    display: initial;
  }
  .show-desktop {
    display: none;
  }
  .sms-number {
    text-decoration: underline;
  }
  #tack-till {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 50px;
  }
  .instructions,
  #tack-till {
    padding: 25px 30px;
    min-width: 320px;
  }
  .pyntagranen {
    margin-top: 0;
  }
  * {
    outline: none;
    box-sizing: border-box;
  }
  .tree-center,
  #treeWrapper {
    display: Block;
  }
  #block-header {
    display: none;
  }
  #block-header-mobile {
    display: block;
    padding: 30px 30px 20px 30px;
  }
  #juldeko-1 {
    background: url("../images/deco-1.png") no-repeat top right;
    background-size: 100px;
    top: -15px;
    right: 0;
    width: 100px;
  }
  .julpynt {
    width: 80%;
    margin: 15px auto 15px auto;
    text-align: center;
  }
  .julpynt a {
    line-height: 2em;
    float: none;
  }
  .julpynt a.julgran-pynt-kula-1,
  .julpynt a.julgran-pynt-kula-2,
  .julpynt a.julgran-pynt-ljus,
  .julpynt a.julgran-pynt-polka {
    padding: 5px 17px 5px 0;
    box-sizing: border-box;
  }
  .julpynt a.julgran-pynt-kula-1,
  .julpynt a.julgran-pynt-kula-2 {
    padding-right: 30px;
  }
  #tack-till {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
  }
  #tack-till ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #tack-till ul li {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    line-height: 1.6rem;
  }
}
