christmasRed = rgb(235,50,50)
christmasGreen = rgb(60,141,13)
html
    font-size 100%
    height 100%
body
    line-height 1.5rem
    -webkit-font-smoothing antialiased
    min-height 100%
    background-color #1B1E22
    margin 0
    padding 0
    font-family 'Source Sans Pro', sans-serif
    font-size 1.063rem
    font-weight 400
    display flex

em
    color white
    font-style normal
a
    color rgba(255, 255, 255, .6)
    text-decoration none
    white-space nowrap

h1
    font-size 3rem
    line-height 1.2em
    padding 0
    margin 0
    color white
    font-family 'Playfair Display', serif

h3
    font-weight 700
    margin .5em 0
    line-height 1.2em
    font-size 1.3rem

p
    margin .3em 0
    color #CACACA
    line-height 1.3em

    &.intro
        padding-top .5rem
        font-size 1.3rem
        color #CACACA

a
    color white
    //text-decoration underline


.sms-number
    font-size 1.3rem
.name
    font-size 1rem


.flex-center
    display flex
    flex-direction column
    justify-content center
    text-align center

.no-wrap
    white-space nowrap

.clearfix
  overflow auto
  zoom 1

.show-mobile
    display none
.show-desktop
    display inline-block
.box
    display flex
    flex 1



//  ********    Julgranen   *****************************************************************************  //


#treeWrapper
    padding 30px 30px 0 30px
    box-sizing border-box
    display flex
    flex 1
    justify-content center
    align-items center
    flex-direction column
    background url(../images/bg3.png)

.tree-center
    display flex
    justify-content center
    align-items center

#tree
    position relative
    max-width 600px
    flex 1

.christmas-tree
    width 100%


#ornament-templates
    display none

.ornament
    opacity 0
    transition opacity .5s ease-out
    position absolute

    width 8%
    margin-left -4%
    margin-top -4%

    &.type-ljus
        height 6%
        margin-top -6%
        width initial
        //background-color white
    &.type-polka
        height 5%
        margin-left -2.5%
        width initial
        //background-color white
    &.type-kula1
    &.type-kula2
        width 4%
        margin-left -2%
        margin-top 0
        //background-color white


.ornament-active
    opacity 1


.bubble
    transition opacity .2s ease-out
    opacity 0
    position absolute
    top 0
    left 0
    font-weight 700
    font-size .8rem
    background-color white
    line-height 1rem
    padding 1em 1em
    border-radius 3px
    border-top-left-radius 0
    box-shadow 1px 2px 3px rgba(0,0,0,.2)

    &.modifier-active
        opacity 1




//  ********    Text Block   *****************************************************************************  //

.instructions
    min-width 400px
    max-width 600px
    padding 80px
    box-sizing border-box
    color white
    line-height 1.6rem
    flex .5
    justify-content center
    flex-direction column

#block-header
    display block
#block-header-mobile
    display none

.pyntagranen
    margin-top 40px

.julpynt
    margin 25px 0 15px 0

    a
        font-weight 700
        //padding-left 30px
        padding-right 28px
        margin-right 15px
        color white
        float left
        margin-bottom .5em
        text-align left

        &.julgran-pynt-kula-1
            background url(../images/pynt-list-kula-1.png) no-repeat right
        &.julgran-pynt-kula-2
            background url(../images/pynt-list-kula-2.png) no-repeat right
        &.julgran-pynt-ljus
            background url(../images/pynt-list-ljus.png) no-repeat right
            padding-right 17px
        &.julgran-pynt-polka
            background url(../images/pynt-list-polka.png) no-repeat right
            padding-right 17px


.julklappen
    margin-top 50px
    img
        width 100%
        max-width 300px


#juldeko-1
    background url(../images/deco-2.png) no-repeat right
    background-size 103px 250px
    position absolute
    top -30px
    right 0px
    width 103px
    height 250px

#tack-till
    display none



/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 700px)
    body
        display Block
        text-align center

    .box
        flex-direction column
        justify-content center

    h1, .intro
        text-align center
    h1
        font-size 2.6rem

    p
        &.intro
            font-size 1.2rem

    .show-mobile
        display initial
    .show-desktop
        display none

    .sms-number
        text-decoration underline

    #tack-till
        display flex
        padding-bottom 50px
        margin-top 30px

    .instructions
        padding 25px 30px
        min-width 320px


    .pyntagranen
        margin-top 0

    *
        outline none
        box-sizing border-box

    .tree-center
    #treeWrapper
        display Block

    #block-header
        display none
    #block-header-mobile
        display block
        padding 30px 30px 20px 30px

    #juldeko-1
        background url(../images/deco-mobile.png) no-repeat top right
        background-size 60px
        top -100px
        right -10px
        width 80px

    .julpynt
        width 80%
        margin 15px auto 15px auto
        text-align center


        a
            line-height 2em
            float none
            &.julgran-pynt-kula-1
            &.julgran-pynt-kula-2
            &.julgran-pynt-ljus
            &.julgran-pynt-polka
                //width 50%
                padding 5px 17px 5px 0
                box-sizing border-box
            &.julgran-pynt-kula-1
            &.julgran-pynt-kula-2
                padding-right 30px

    #tack-till
        display flex
        color white
        ul
            list-style none
            padding 0
            margin 0
            li
                font-size 1rem
                padding-bottom .5rem
                line-height 1.6rem
